html {
    font-size: 100%;
}
body {
    margin: 0;
    padding: 0;
}
#screen {
    width: 100vw;
    height: 56.25vw;
    position: relative;
}

/*GAME-----------------------------------------------------*/

#game {

    background-color: #6fd9e2;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

/*------GAME BACKGROUND*/

#game_background{
    background-image: url(assets_background.svg);
    width: 100%;
    height: 100%;
    position: absolute;

}


/*------GAME ELEMENTS*/

#game_elements {

    width: 100%;
    height: 100%;
    position: absolute;
}

/*------DOGGOS*/

/*-GOLDENPUPPER*/

#goldenpupper_container{
    position: absolute;
    bottom: 5vw;
    right: 4vw;

}


#goldenpupper_sprite {
    background-image: url(assets_dog_1.svg); /*--size 920x700*/
    width: 25vw;
    height: 19.02vw;
    background-size: 100%;

}

/*-SAUSAGEPUP*/

#sausagepup_container{
    position: absolute;
    bottom: 20vw;
    right: 100vw;

    transform: scaleX(-1);
}

#sausagepup_sprite{
    background-image: url(assets_dog_2.svg);/*--size 659x270*/
    width: 15vw;
    height: 6.15vw;
    background-size: 100%;
}

/*-CORGO*/

#corgo_container{
    position: absolute;
    bottom: 15vw;
    right: 30vw;
}

#corgo_sprite{
    background-image: url(assets_dog_3.svg);/*--size 601x335*/
    width: 10vw;
    height: 5.57vw;
    background-size: 100%;
}

/*-BONUSBOI*/

#bonusboi_container{
    position: absolute;
    bottom: -2vw;
    right: 35vw;

    overflow: hidden;
     z-index: 1;

    display: none;
}

#bonusboi_sprite{
    background-image: url(assets_bonus_dog.svg);/*--size 1110x939*/
    width: 40vw;
    height: 33.84vw;
    background-size: 100%;


}

/*------CATTOS*/

/*-CHUNKBOI 1*/
#chunkboi_1_container{
    position: absolute;
    bottom: 15vw;
    right: 45vw;
    background-size: 100%;
}

#chunkboi_1_sprite{
    background-image: url(assets_cat_1.svg);/*--size 440x440*/
    width: 10vw;
    height: 10vw;
    background-size: 100%;
}

/*-CHUNKBOI 2*/
#chunkboi_2_container{
    position: absolute;
    bottom: 2vw;
    left: 34vw;
    background-size: 100%;
}

#chunkboi_2_sprite{
     background-image: url(assets_cat_2.svg);/*--size 440x440*/
    width: 8vw;
    height: 8vw;
    background-size: 100%;
}

/*-CHONKBOI*/

#chonker_container{

    position: absolute;
    bottom: 10vw;
    left: 13vw;
    background-size: 100%;
}

#chonker_sprite{
     background-image: url(assets_cat_3.svg);/*--size 720x380*/
    width: 15vw;
    height: 7.92vw;
    background-size: 100%;

}

/*------FOREGROUND*/

#foreground{
    background-image: url(assets_tree.svg);/*--size 910x1360*/
    width: 45vw;
    height: 67.25vw;
    background-size: 100%;


    position: absolute;
    bottom: 0vw;
    right: 65vw;
    overflow: hidden;
}

/*------GAME UI*/



/*-IN-GAME SETTINGS*/

#in_game_settings_button{
    background-image: url(assets_settings_2.svg);/*--size 170x170*/
    width: 7vw;
    height: 7vw;
    background-size: 100%;

    position: absolute;
    bottom: 2vw;
    left: 2vw;
}

/*--SCORE BOARD*/

#doggo_count{

    background-image: url(assets_doggo_count.svg);/*--size 290x270*/
    width: 7vw;
    height: 6.5vw;
    background-size: 100%;

    position: absolute;
    top: 1vw;
    right: 10vw;

}

#heart{
    background-image: url(assets_heart.svg);/*--size 50x50*/
    width: 1.5vw;
    height: 1.5vw;
    background-size: 100%;

    position: absolute;
    top: 0.2vw;
    right: 10vw;
}

#count_number{
    color: #c69c6d;
    font-size: 4.5rem;
    font-family: active;
    position: absolute;
    top: 1vw;
    right: 3.5vw;

}

/*--ENERGY BOARD*/

#life_bar_1{
    background-image: url(assets_life_bar_1.svg);/*--size 600x100*/
    width: 25vw;
    height: 4.17vw;
    background-size: 100%;

    position: absolute;
    top: 2vw;
    left: 45vw;


}

#life_bar_2{
    background-image: url(assets_life_bar_2.svg);/*--size 410x98*/
    width: 17.45vw;
    height: 4.17vw;
    background-size: 100%;

    position: absolute;
    top: 2vw;
    left: 45vw;


}

#life_bar_3{
    background-image: url(assets_life_bar_3.svg);/*--size 200x100*/
    width: 8.34vw;
    height: 4.17vw;
    background-size: 100%;

    position: absolute;
    top: 2vw;
    left: 45vw;

}




#alice_health_1{

    background-image: url(assets_health_1.svg);/*--size 230x230*/
    width: 7vw;
    height: 7vw;
    background-size: 100%;

    position: absolute;
    top: 0.4vw;
    left: 42vw;


}

#alice_health_2{

    background-image: url(assets_health_2.svg);/*--size 230x230*/
    width: 7vw;
    height: 7vw;
    background-size: 100%;

    position: absolute;
    top: 0.4vw;
    left: 42vw;

    display: none;


}

#alice_health_3{

    background-image: url(assets_health_3.svg);/*--size 230x230*/
    width: 7vw;
    height: 7vw;
    background-size: 100%;

    position: absolute;
    top: 0.4vw;
    left: 42vw;

   display: none;
}

/*--TIME BOARD*/

#time_glass{
    background-image: url(assets_time_glass.svg);/*--size 100x120*/
    width: 5vw;
    height: 6vw;
    background-size: 100%;

    position: absolute;
    top: 1vw;
    left: 5vw;
}

#time_count{
    color: #c69c6d;
    font-size: 4.5rem;
    font-family: active;
    position: absolute;
    top: 1vw;
    left: 12vw;
}

/*------UI ELEMENTER*/

/*---BUTTONS*/

/*-START*/
#start_button1{

    background-image: url(assets_start_button.svg); /*--size 370x160*/
    width: 20vw;
    height: 8.65vw;
    background-size: 100%;

    position: absolute;
    top: 30vw;
    left:40vw;
    z-index: 1;

    display: none;

}

#start_button2{

    background-image: url(assets_start_button.svg); /*--size 370x160*/
    width: 20vw;
    height: 8.65vw;
    background-size: 100%;

    position: absolute;
    top: 32vw;
    left:45vw;
    z-index: 1;

    display: none;


}

/*-SETTINGS*/

#settings_button{
   background-image: url(assets_settings_button.svg); /*--size 370x160*/
    width: 20vw;
    height: 8.65vw;
    background-size: 100%;

    position: absolute;
    top:40vw;
    left:40vw;
    z-index: 1;

     display: none;
}

/*-MENU*/

 #menu_button_1{

    background-image: url(assets_menu_button.svg); /*--size 190x80*/
    width: 10vw;
    height: 4.21vw;
    background-size: 100%;
    position: absolute;
    bottom: 31vw;
    left: 40vw;

     transform: rotate(15deg);

     z-index: 1;

     display: none;

}

#menu_button_2{

    background-image: url(assets_menu_button.svg); /*--size 190x80*/
    width: 10vw;
    height: 4.21vw;
    background-size: 100%;
    position: absolute;
    bottom: 31vw;
    left: 46vw;

    z-index: 1;

    display: none;
}

/*-TRY AGAIN*/

#try_again_button{

    background-image: url(assets_try_again_button.svg); /*--size 180x80*/
    width: 10vw;
    height: 4.44vw;
    background-size: 100%;
    position: absolute;

    bottom: 27vw;
    left: 55vw;

    transform: rotate(15deg);

    display: none;


}

/*-INTRODUCTION*/

#introduction{

    display: none;
}

#introduction_background{
    background-color: black;
    opacity: 70%;

    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

#sign{

    background-image: url(assets_sign.svg); /*--size 280x260*/
    width: 70vw;
    height: 65vw;
    background-size: 100%;
    position: absolute;

    top: 0vw;
    left: 20vw;

    overflow: hidden;
}

#text_container{
    position: absolute;
    bottom: 32vw;
    left: 5vw;
    background-size: 100%;

    width: 50vw;
    height: 20vw;
}

#text{

    color: #c69c6d;
    font-size: 1.4rem;
    font-family: mv boli;
    position: absolute;
    top: 1vw;
    left: 12vw;
    text-align: center;

}



/*START----------------------------------------------------*/

#start{

    display: none;

}

#startscreen {

    background-image: url(assets_start.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;



}

#alice_start{
    background-image: url(assets_alice.svg);/*--size 640x870*/
    width: 35vw;
    height: 47.58vw;
    background-size: 100%;

    position: absolute;
    bottom: 0vw;
    right: 70vw;

    overflow: hidden;


}

#doggo_start{

    background-image: url(assets_start_dog.svg);/*--size 880x930*/
    width: 45vw;
    height: 47.56vw;
    background-size: 100%;

    position: absolute;
    bottom: 0vw;
    left:  65vw;

    overflow: hidden;


}


/*GAME OVER------------------------------------------------*/

#game_over{
    display: none;
}

#game_over_background{
    background-color: black;
    opacity: 70%;

    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

#bad_sign{

    background-image: url(assets_bad_end.svg); /*--size 960x860*/
    background-size: 100%;
    width: 70vw;
    height: 62.71vw;
    position: absolute;

    top: 0vw;
    left: 20vw;

    overflow: hidden;

}

#hospital{
    background-image: url(assets_bad_end_hospital.svg); /*--size 260x210*/
    background-size: 100%;
    width: 35vw;
    height: 28.26vw;
    position: absolute;

    bottom: -3vw;
    left: 33vw;

    overflow: hidden;

}

#bad_alice{

    background-image: url(assets_bad_end_alice.svg); /*--size 220x240*/
    background-size: 100%;
    width: 10vw;
    height: 10.91vw;
    position: absolute;

    bottom: 15vw;
    left: 55vw;

    overflow: hidden;

}





/*LEVEL COMPLETE-------------------------------------------*/

#level_complete{
    display: none;
}

#level_complete_background{
    background-color: black;
    opacity: 70%;

    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}
#good_sign {

    background-image: url(assets_good_end.svg); /*--size 950x790*/
    background-size: 100%;
    width: 70vw;
    height: 58.21vw;
    position: absolute;

    bottom: -2vw;
    left: 20vw;

    overflow: hidden;

}


/*ANIMATIONS-------------------------------------------*/
.run1{

    animation-name: run1_kf;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}

@keyframes run1_kf{

    0%{

        transform: translateX(75vw) scaleX(1);
        overflow: hidden;

    }




    33%{
        transform: translateX(-150vw) scaleX(1);
        overflow: hidden;

    }

    66%{ transform: translateX(-150vw)scaleX(-1);}


    100%{

        transform: translateX(75vw) scaleX(-1);
        overflow: hidden;

    }
}

.run2{

    animation-name: run2_kf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}

@keyframes run2_kf{

    0%{

        transform: translateX(100vw) scaleX(1);
        overflow: hidden;

    }




    33%{
        transform: translateX(-130vw) scaleX(1);
        overflow: hidden;

    }

    66%{ transform: translateX(-130vw)scaleX(-1);}


    100%{

        transform: translateX(100vw) scaleX(-1);
        overflow: hidden;

    }
}


.life_down{

    animation-name: ld_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes ld_kf{

    0%{opacity: 1;}
    25%{opacity: 0;}
    50%{opacity: 1;}
    60%{opacity: 0;}
    70%{opacity: 1;}
    75%{opacity: 0;}
    80%{opacity: 1;}
    83%{opacity: 0;}
    86%{opacity: 1;}
    88%{opacity: 0;}
    100%{opacity: 0;}

}

.life_up{

    animation-name: lu_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes lu_kf{

    0%{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 0;}
    60%{opacity: 1;}
    70%{opacity: 0;}
    75%{opacity: 1;}
    80%{opacity: 0;}
    83%{opacity: 1;}
    86%{opacity: 0;}
    88%{opacity: 1;}
    100%{opacity: 1;}

}

.spin_out{

    animation-name: spinout_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes spinout_kf{

    from{transform: rotate(0deg) scale(1);}
    to{ transform: rotate(360deg) scale(0);}

}

.spin_in{

    animation-name: spinin_kf;
    animation-duration: 1,5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes spinin_kf{

    from{transform: rotate(0deg) scale(0);}
    to{ transform: rotate(-360deg) scale(1);}

}

.timer{
    animation-name: timer_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

@keyframes timer_kf{
    from{transform: rotate(-60deg);}
    to{transform: rotate(60deg);}
}

.spinner{
     animation-name: spinner_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;

}

@keyframes spinner_kf{
    from{transform: rotate(-30deg) scale(1);}
    to{transform: rotate(60deg) scale(1.3);}
}


.be_gone_cat{
     animation-name: bgc_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes bgc_kf{

    from{
        transform: rotate(0deg);
        filter: blur(0);
    }

    to{

        transform: rotate(360deg);
        filter: blur(10vw);
    }
}

.bye_doggo{

    animation-name: bye_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: both;

}

@keyframes bye_kf{
    from{transform: translateY(0vw) rotate(0deg) scale(1);}
    to{transform: translateY(-70vw) rotate(360deg) scale(0);}

}

.start_jump{

    animation-name: startjump_kf;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate-reverse;
}

@keyframes startjump_kf{

    from{transform: translateY(0vw);}
    to{transform: translateY(-0.6vw)}
}

.pulse{
    animation-name: pulse_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
}

@keyframes pulse_kf{

    from{transform: scale(1);}
    to{transform: scale(1.05);}
}

.click_button{
    animation-name: click_kf;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: both
}

@keyframes click_kf{

    from{
        transform: scale(1) rotate(0deg);
        filter: blur(0);
    }
    to{
        transform: scale(6) rotate(360deg);
        filter: blur(20vw);

    }

}

.fadeout{
    animation-name: fadeout_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: both
}

@keyframes fadeout_kf{
    from{opacity: 1;}
    to{opacity: 0}
}

.fadein{
    animation-name: fadein_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: both
}

@keyframes fadein_kf{
    from{opacity: 0;}
    to{opacity: 1}
}


.fall_in {
    animation-name: fallin_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.3, 0.8,0.4, 1.4);
    animation-fill-mode: both;
}

@keyframes fallin_kf{
    from{transform: translateY(-100vw);}
    to{transform: translateY(0vw);}
}




